[Unit]
Description=Status Display Service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/status-display
ExecStart=/usr/bin/python3 /home/pi/status-display/

[Install]
WantedBy=multi-user.target
